<div class="line"></div>
<div class="wrapper-footer">
	<label class="footer-reserved">
		<a>Care For Life</a>
		&nbsp;|&nbsp;
		<a href="hospital_locations.html">hospital locations</a>
	</label>

	<label class="footer-legal">
		© 2015 MAX HEALTHCARE. ALL RIGHTS RESERVED.
		&nbsp;|&nbsp;
		<a href="/disclaimer"> DISCLAIMER</a>
		&nbsp;|&nbsp;
		<a href="/privacy-policy">PRIVACY POLICY</a>
	</label>

	<label class="footer-mobile">
		<a href="hospital_locations.html">hospital locations</a>
		&nbsp;|&nbsp;
		<a href="disclaimer.html"> DISCLAIMER</a>
		&nbsp;|&nbsp;
		<a href="privacy_policy.html">PRIVACY POLICY</a>
	</label>
</div>