<a class="part part-contact" href="/contact.php">
	<div class="part-inner part-icon">
		<img class="icon" src="img/nav/icon-contact-active.svg">
	</div>
	<div class="part-inner part-description">
		Contact Us
	</div>
</a>

<a class="part part-patient" href="/testimonials">
	<div class="part-inner part-icon">
		<img class="icon" src="img/nav/icon-testimonial.svg">
	</div>
	<div class="part-inner part-description">
		Testimonials
	</div>
</a>

<a class="part part-patient" href="/patient-services">
	<div class="part-inner part-icon">
		<img class="icon" src="img/nav/icon-patient.svg">
	</div>
	<div class="part-inner part-description">
		Patient Services
	</div>
</a>

<a class="part part-about" href="/about-us">
	<div class="part-inner part-icon">
		<img class="icon" src="img/nav/icon-about.svg">
	</div>
	<div class="part-inner part-description">
		About Us
	</div>
</a>

<div class="part part-specialties">
	<div class="part-inner part-icon">
		<img class="icon" src="img/nav/icon-menu-active.svg">
	</div>
	<div class="part-inner part-description">
		Our Specialties
	</div>
</div>

<a class="part part-mobile-specialty">
	<div class="part-inner part-icon">
		<div class="icon-specialty"></div>
	</div>
</a>

<div class="part part-logo">
	<div class="wrapper-logo">
		<div class="part-inner">
			<div class="logo">
				<a href="/">
					<img src="img/logo-main.svg">
					<img src="img/home/logo-banner.svg">
				</a>
			</div>
		</div>
	</div>
</div>