<div class="table-services">
	<div class="cell-services">
		<div class="services">
			<img class="image-doc" src="img/specialties/doctor.jpg">
			<a class="call call-opinion" href="contact.php">
				Next Steps
			</a>
			<a class="call call-visit second-opinion" href="contact.php">
				Get a Second Opinion
			</a>
			<a class="call call-services get-quote" href="contact.php">
				Request for a Quote
			</a>
			<a class="call call-testimonial" href="contact.php">
				FAQ’s
			</a>
		</div>
	</div>
</div>