<div class="container-specialty specialty-head">
	<div class="specialty-icon">
		<div class="table-icon">
			<div class="cell-icon">
				<img class="icon" src="img/specialties/panel-open.svg">
			</div>
		</div>
	</div>
	<div class="specialty-name">
		<div class="table-name">
			<div class="cell-name">
				Our Specialties
			</div>
		</div>
	</div>
</div>

<div class="overlay-preloader">
	<div class="cell-preloader">
		<img class="preloader" src="img/preloader.gif">
	</div>
</div>

<ul class="wrapper-specialty" id="specialtiesPanel"></ul>